# Unnecessary exclusions requested
*.tmp
*.bak
Thumbs.db
.DS_Store
logs/
full-demo/
sample-project2/
sample-project3/
.vscode/
temp/
tmp/
.gocache
.idea
.pdl
.vcpkg_installed
pdl/bin
pdl/pdlc/build/
pdl/pdlc/vcpkg/
pdl/pdlc/vcpkg_installed/
.history/
