{{- $table := .Data }}
using Io.Pdl.Infrastructure.Data.RowSet;

namespace {{ $table.PhpEntitiesNamespace }}
{
    public sealed class {{ $table.CsharpRowSetClass }} : RowSet<{{ $table.RowClass }}>
    {
    }
}
