{{- $table := .Data }}
<?php

namespace {{ $table.PhpEntitiesNamespace }};

use Io\Pdl\Infrastructure\Data\Db\ColumnsDefinition;

class {{ $table.ColumnsDefinitionClass }} extends ColumnsDefinition
{
    protected function setup()
    {
{{- range $table.FieldsInfo }}
        $this->addColumn( '{{ .Original }}', '{{ .PhpType }}' );
{{- end }}
    }
}
