{{- $table := .Data }}
<?php

namespace {{ $table.PhpEntitiesNamespace }};

trait {{ $table.ColumnsListTraits }}
{
{{- range $table.FieldsInfo }}
    public function {{ .CamelCase }}()
    {
        $this->addColumn( '{{ .Original }}' );
        return $this;
    }

{{- end }}
}
