{{- $table := .Data }}
<?php

namespace {{ $table.PhpEntitiesNamespace }};

use Io\Pdl\Infrastructure\Data\Db\Where;

class {{ $table.WhereClass }} extends Where
{
    protected function setup()
    {
{{- range $table.FieldsInfo }}
        $this->addField( '{{ .Original }}' );
{{- end }}
    }
}
